Objective
To get who are our customer
Explore all 3 datasets in Data folder

Scenerio 
As a data analyst in Ebuy Emporium, a new e-commerce startup, since the employer start to have an active interest in their customer base.Who are their customers?
What do they buy? What drives their purchasing behavior? However, before they do
any serious analysis, they need to be able to count their customers

Problem
One problem is there are multiple sources of customer
data, which are
- The e-commerce platform’s customer database, where customer details are
recorded when they sign up for an account online. This is where most of the
customer details should be found.
- The in-house CRM (customer relationship management) system, where customer
details are recorded when they make a purchase over the phone or are
otherwise onboarded as customers (except because of purchasing online with a
registered account).
- The raw transaction data, which we will hereafter refer to as “purchases” or
“sales,” and which also contains purchases made “as a guest,” meaning customer
records are not explicitly created at the time of purchase.
- Another problem is that the existing data sources may not be mutually exclusive—
there might be overlaps across them all. There is almost certainly some duplication,
either because the same customer had their details entered into multiple systems or
because they have made purchases both as a guest and with a registered account.
Duplicate accounts may not contain exactly the same information; there may be typos
or misspellings. These complications are why the startup needs the help of an analyst to
answer their question: “Who are our customers?”

Final Output 
A dataset containing one row per "inferred customer entity".

In [1]:
import numpy as np
import pandas as pd

In [2]:
data_from_crm=pd.read_csv('../data/crm_export.csv')
data_from_crm.head()

   customer_id first_name  surname postcode  age
0        29223      Holly   Rogers  LS475RT   12
1        27826     Daniel     Owen   M902XX    5
2         7432    Eleanor  Russell  HR904ZA   34
3         2569      Paige  Roberts  DE732EP   61
4         9195    Matilda    Young  LS670FU   78